<div class="content-section">
  <div class="header">
    <h1>About</h1>
  </div>
  <p>
    Ever hear of an act of kindness so genuine it restores your faith in humanity? Does that restoration place a desire in you to do your own good deed? Wildfire is a community fueled by the hearts of people who complete these kind acts. By having friends create fun and altruistic acts Wildfire's goal is to spread love and inspire kindness by connecting those who long to be a part of "the change they wish to see in the world."
  </p>
  <div class="header">
    <h2>Mission</h2>
  </div>
  <p>
    <span class="wildFire">WILD FIRE</span> is committed to sparking love by encouraging volunteerism and engaging the community with deliberate acts of kindness.
  </p>
  <div class="header">
    <h2>Vision</h2>
  </div>
  <p>
    Our vision is to create an active community of volunteers dedicated to serving Indianapolis by planning and participating in events that promote love and kindness.
  </p>
</div>