<div class="content-section">
  <div class="header">
    <h1>About</h1>
  </div>
  <p>
    Our goal is to positively affect as many people as possible through deliberate acts of kindness.
  </p>
  <div class="header">
    <h2>Mission</h2>
  </div>
  <p>
    This organization is focused on spreading love like Wildfire throughout Indianapolis by planning events that promote good deeds and positive values while encouraging friends to complete fun and creative acts of kindness.
  </p>
  <p>
    Ever hear of an act of kindness so genuine it restores your faith in humanity? Does that restoration place a desire in you to do your own good deed? Wildfire is a community fueled by the hearts of people who complete these kind acts. By having friends create fun and altruistic acts Wildfire's goal is to spread love and inspire kindness by connecting those who long to be a part of "the change they wish to see in the world."
  </p>
  <p>
    Each person volunteers as much time or money they personally would like to invest
  </p>
</div>