<div class="content-section">
  <div class="header">
    <h1>Contact</h1>
  </div>
  <p>
    We would love to hear from you!
  <address>
    Email us at: <a href="mailto:wildfiresparklove@gmail.com">wildfiresparklove@gmail.com</a>
  </address>
  </p>
</div>