<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h1>Contact</h1>
    </div>
    <p class="p-right">
      We would love to hear from you!
    </p>
    <p class="p-right">
        <span>Email us at: </span>
        <span><a href="mailto:wildfiresparklove@gmail.com">wildfiresparklove@gmail.com</a></span>
    </p>
    <div class="socialContactInfo">
        <span class="vertCenter">
            Find us on Social Media:
        </span>
        <span class="socialContactLinks">
            <span>
                <a  href="https://www.facebook.com/wildfiresparklove" target="_blank">
                  <%= image_tag("facebookLarge.png", :alt => "Find Us on Facebook!", :height => 45) %>
                </a>
            </span>
            <span>
                <a  href="https://twitter.com/wildfireindy" target="_blank">
                  <%= image_tag("twitterLarge.png", :alt => "Find Us on Twitter!", :height => 45) %>
                </a>
            </span>
            <span>
                <a  href="http://instagram.com/wildfireindy" target="_blank">
                  <%= image_tag("instagramLarge.png", :alt => "Find Us on Instagram!", :height => 45) %>
                </a>
            </span>
        </span>
    </div>
  </div>

  <div class="content-right">
    <%= image_tag("Events/SnowShoveling/GettingIdeas.jpg", :alt => "Brainstorming Ideas", :class => "contactImg") %>
  </div>
</div>

