<div class="content-section">
  <div class="content-section">
    <div class="header">
      <h1>Events</h1>
    </div>
    <p>
      We plan events that promote positive causes in which everyone gets a hands on experience.
      Here are upcoming and past events.
    </p>
  </div>

  <div class="content-section">
    <div class="header">
      <h2>M.U.D. Olympics - Make Us Different</h2>
      <h3>06 - 29 - 2014</h3>
    </div>
    <p class="p-right">
      The M.U.D. Olympics is one of exciting upcoming events. This event will provide mentor groups and local community members
      with an opportunity to come together for a day of fun in the sun and mud. We will have a variety fun muddy events designed to promote
      team building, sportsmanship, and confidence. Further details TBA.

    </p>
  </div>

  <div class="content-section bisect">
    <div class="content-left">
      <div class="header">
        <h2>Farming Trash Treasures</h2>
        <h3>03 - 29 - 2014</h3>
      </div>
      <p class="p-right">
        We had the wonderful opportunity to team up with
        <a target="_blank" href="http://indyparksfoundation.org/site/what_we_do/indy_urban_acres_farm">Indy Urban Acres</a>, an Indianapolis
        based organization that has supported the local community by donating over 30,000 pounds of fresh produce. They also provide youth
        workshops to educate children about how their food gets from the farm to their plate. <span class="wildFire">WILD FIRE</span> donated
        a helping hand to build seating for bright young minds to build an appreciation for farming for years to come.
      </p>
    </div>
    <div class="content-right">
      <%= image_tag("Events/SparkLove/439.jpg", :alt => "Farming Trash Treasures", :class => "eventImg") %>
    </div>
  </div>

  <div class="content-section bisect">
    <div class="content-left">
      <div class="header">
        <h2>Shoveling Shapes in Snow</h2>
        <h3>02 - 08 - 2014</h3>
      </div>
      <p class="p-right">
        During the harsh Indiana winter of 2014, <span class="wildFire">WILD FIRE</span> jumped into action by helping local Hoosiers
        become mobile again. We shoveled driveways at random for anyone who needed it. Our aim was to ease the burden of Winter's bite, inspire others
        to pay it forward, and Spark Love.
      </p>
    </div>
    <div class="content-right">
      <%= image_tag("Events/SnowShoveling/GroupPic2.jpg", :alt => "Shoveling Shapes in Snow", :class => "eventImg") %>
    </div>
  </div>

  <div class="content-section bisect">
    <div class="content-left">
      <div class="header">
        <h2>Potluck Care Packages</h2>
        <h3>02 - 01 - 2014</h3>
      </div>
      <p class="p-right">
        We gathered as friends to give back to our community. Each one of us donated an item we felt would be useful to those in need.
        What we gave was from our heart. The items ranged from absolute everyday necesseties to items that were simply meant to inspire
        and leave the recipient with a positive feeling. Our goal with this event was to let people who needed it know that they are appreciated
        and someone cares.
      </p>
    </div>
    <div class="content-right">
      <%= image_tag("Events/CarePackages/GroupPic.jpg", :alt => "Potluck Care Packages", :class => "eventImg") %>
    </div>
  </div>
</div>