<% provide(:contentTitle, 'Welcome to Wild Fire') %>

<div class="content">
    <div>
      <h1>Welcome to Wild Fire</h1>
    </div>
    <div>
      <span>
        <%= image_tag("Events/SparkLove/GroupPicFinished.jpg", :alt => "Spark Love", :height => 200) %>
      </span>
      <span>
        <p>We are a volunteer organization. And our new fancy website text will
          appear here. We should come up with some good material to really hit out
          audience here. We need to capture their attention right away.
        </p>
      </span>
    </div>
    <div>
      <p>Find me in app/views/organization/home.html.erb</p>
      <p>
        Current time: <%= Time.now %>
      </p>
    </div>
</div>