<% provide(:contentTitle, 'Welcome to Wild Fire') %>

<div class="content-section">
  <span class="content-med-img">
    <%= image_tag("Events/SparkLove/GroupPicFinished.jpg", :alt => "Spark Love", :height => 200) %>
  </span>
  <div class="header">
    <h1>Welcome To Wildfire</h1>
    <h2>We are excited to have you join us on our quest to change the world.</h2>
  </div>
    <p>
        We all give what we can, when we can and how we can.

        Wildfire is a variety of things. It might be described as a community or activist group, or maybe it’s

        a bit like pay it forward. The truth is, it is a lot of different things, and that’s part of what makes us

        different. Every event we organize is unique from the last; every kind act we require from friends is

        specifically designed for them. We focus on touching people’s lives in unique creative ways that bring

        our community together.
    </p>
  <div class="header">
    <h2>Anyone can go volunteer so why choose Wildfire</h2>
  </div>
    <p>
        Friends invite friends. This means you know people

        and you get to have a great time while supporting a positive cause. We believe in fun because if it’s not

        fun, you won’t be back!
    </p>
    <p>
        Imagine a world where people were brought together by values instead of segregated by them. That’s

        us. We come from a variety of backgrounds, ethnicities, and religious faiths because it’s not our

        differences that connect us but our core belief in each other.

        So go out there one friend at a time and SPARK their interest. Together we make a difference.
    </p>
  <div class="header">
    <h2>- Wild Fire</h2>
  </div>
</div>
