<div class="content-section bisect">
  <div class="content-center">
    <div class="header">
      <h1>Spark</h1>
    </div>
    <p class="p-right">
      What is a Spark?
      A good deed you design specifically for a friend to complete.
      Who gives a Spark?
      Anyone who would like to help SPARK LOVE in the community.
      Who gets a Spark?
      Anyone that’d like to do a good deed.
      Why give a Spark?
      Encourages others to promote positive actions and strengthens relationships.
      How to give a spark?
      Mail it, leave it in a door, on a desk, on their car anywhere any place you are 100% certain they will see it
    </p>
  </div>
</div>
