<div class="content-section bisect">
  <div class="content-center">
    <div class="header">
      <h1>Spark</h1>
    </div>
	    <div class="header">
      <h2>What should a Spark be?</h2>
    </div>
    <p class="p-right">
      An easy, simple, good deed that your friend will enjoy doing.
    </p>
    <div class="header">
      <h2>What is a Spark?</h2>
    </div>
    <p class="p-right">
      A good deed you design specifically for a friend to complete.
    </p>
    <div class="header">
      <h2>Who gives a Spark?</h2>
    </div>
    <p class="p-right">
      Anyone who would like to help SPARK LOVE in the community.
    </p>
    <div class="header">
      <h2>Why give a Spark?</h2>
    </div>
    <p class="p-right">
      Encourages others to promote positive actions and strengthens relationships.
    </p>
    <div class="header">
      <h2>How to give a spark?</h2>
    </div>
    <p class="p-right">
      Mail it, leave it in a door, on a desk, on their car anywhere any place you are 100% certain they will see it
    </p>
  </div>
</div>
<div class="content-section bisect">
  <div class="content-center">
    <h2 class="content-title">Spark Heroes</h2>
      <p class="p-right">
      Spark Heroes highlights <span class="wildFire">WILD FIRE</span> members that have went above and beyond to Spark Love in their local community.  
      </p>
        <p class="p-right quote">
          "Service which is rendered without joy helps neither the servant nor the served. But all other pleasures and possessions pale into nothingness before service which is rendered in a spirit of joy." 
        </p>
        <p class="p-right">
           -Mahatma Gandhi
        </p>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>

</div><div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>

</div><div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>
</div>