<div class="content-section bisect">
  <div class="content-center">
    <div class="header">
      <h1>Spark</h1>
    </div>
	    <div class="header">
      <h2>What should a Spark be?</h2>
    </div>
    <p class="p-right">
      An easy, simple, good deed that your friend will enjoy doing.
    </p>
    <div class="header">
      <h2>What is a Spark?</h2>
    </div>
    <p class="p-right">
      A good deed you design specifically for a friend to complete.
    </p>
    <div class="header">
      <h2>Who gives a Spark?</h2>
    </div>
    <p class="p-right">
      Anyone who would like to help SPARK LOVE in the community.
    </p>
    <div class="header">
      <h2>Why give a Spark?</h2>
    </div>
    <p class="p-right">
      Encourages others to promote positive actions and strengthens relationships.
    </p>
    <div class="header">
      <h2>How to give a spark?</h2>
    </div>
    <p class="p-right">
      Mail it, leave it in a door, on a desk, on their car anywhere any place you are 100% certain they will see it
    </p>
  </div>
</div>
