<div class="content-section bisect">
  <div class="content-center">
    <div class="header">
      <h1>Spark</h1>
    </div>
	    <div class="header">
      <h2>What should a Spark be?</h2>
    </div>
    <p class="p-right">
      An easy, simple, good deed that your friend will enjoy doing.
    </p>
    <div class="header">
      <h2>What is a Spark?</h2>
    </div>
    <p class="p-right">
      A good deed you design specifically for a friend to complete.
    </p>
    <div class="header">
      <h2>Who gives a Spark?</h2>
    </div>
    <p class="p-right">
      Anyone who would like to help SPARK LOVE in the community.
    </p>
    <div class="header">
      <h2>Why give a Spark?</h2>
    </div>
    <p class="p-right">
      Encourages others to promote positive actions and strengthens relationships.
    </p>
    <div class="header">
      <h2>How to give a spark?</h2>
    </div>
    <p class="p-right">
      Mail it, leave it in a door, on a desk, on their car anywhere any place you are 100% certain they will see it
    </p>
  </div>
</div>
<div class="content-section bisect">
  <div class="content-center">
    <h2 class="content-title">Spark Heroes</h2>
      <p class="p-right">
      Spark Heroes highlights <span class="wildFire">WILD FIRE</span> members that have went above and beyond to Spark Love in their local community.  
      </p>
        <p class="p-right quote">
          "Service which is rendered without joy helps neither the servant nor the served. But all other pleasures and possessions pale into nothingness before service which is rendered in a spirit of joy." 
        </p>
        <p class="p-right">
           -Mahatma Gandhi
        </p>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Brittany Billings</h2>
    </div>
    <p class="p-right">
      Spark Hope
    </p>
    <p class="p-right quote">
     "I received a spark from Ashley Walke to make a meal for someone who needs it. Living downtown, I've had the opportunity to be exposed to many homeless individuals. I was happy about receiving this specific spark so I enjoyed planning the meals. I prepared and packed up a total of 8 meals and delivered them to 6 people who I thought would be most in need. It was chilly outside and many of the people I delivered meals to were hiding under layers of blankets trying to keep warm. It was a great feeling to be able to brighten their day and see the smiles that the spark ignited. Opportunities such as these are what Wildfire means to me. I am grateful for the extra push of inspiration that brought something thoughtful and meaningful to those who need it the most." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Sparks/BrittanyBillingsSparkHope.jpg", :alt => "Spark Hope", :class => "eventImg") %>
  </div>
</div>

<div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Ethan Kasberg</h2>
    </div>
    <p class="p-right">
      Spark Assisting
    </p>
    <p class="p-right quote">
     "My spark was to play an entire of basketball without shooting at the basket. Instead I was to distribute the basketball cunningly to my teammates while enthusiastically encouraging them on. During the game, passing the ball to a teammate who scored and high-fiving them afterwards became more rewarding than any shot I could have taken. This spark brought out selflessness, team play, and sportsmanship." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Sparks/EthanKasbergSparkAssisting.jpg", :alt => "Spark Assisting", :class => "eventImg") %>
  </div>

</div><div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>

</div><div class="content-section bisect">
  <div class="content-left">
    <div class="header">
      <h2>Name</h2>
    </div>
    <p class="p-right">
      Spark Title
    </p>
    <p class="p-right quote">
     "Lrem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor magna, fermentum id sem non, congue vulputate mauris. Nam quis augue a elit imperdiet rhoncus ac et velit. Donec id mauris scelerisque, placerat libero non, pretium mi. Nunc id vehicula tortor. Cras pellentesque sem eget mollis elementum. Aliquam sollicitudin ullamcorper aliquet. Aenean cursus justo at ligula hendrerit, a placerat ipsum interdum." 
    </p>
  </div>
  <div class="content-right">
    <%= image_tag("Events/MUDOlympics/balloonToss.jpg", :alt => "MUD Olympics Water Balloon Toss", :class => "eventImg") %>
  </div>
</div>