// Place all the styles related to the Organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: #3f4944;
  font-size: 1.1em;
}

html {
  font-size: 16px;
}

body {
  color: darkslategray;
  font-family: Arial;
  font-size: 62.5%; /* 1em = 10px */
}

h1 {
  color: #f26b14;
  font-size: 2.6em;
}

h2 {
  color: #313b36;
  font-size: 1.9em;
}

p {
  font-size: 1.75em;
  text-align: justify;
  color: #3f4944;
}

section, header, nav {
  display: block;
}

.content
{
  margin-top: 50px;
  min-height:600px;
}

#ContentContainer {
  background-color: rgba(243, 114, 29, 0.3);
  border: solid 2px orange;
  border-radius:5px;
  min-height: 600px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.l-header {
  padding: 20px 0 30px;
}

.l-cell {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px;
}

.l-footer {
  bottom: 0;
  clear: both;
  overflow: hidden;
  text-align: center;
  margin-top: -25px;
}

.l-footer-info {
  font-size: 1.5em;
}

.l-footer-copyright, .l-footer-address, .l-footer-copyright {
  display: inline;
}

.l-row {
  margin: 25px 0;
  padding: 15px 0;
}

.l-row--a {
  color: #fff;
}

#FooterContainer {
  border: solid 2px #3f4944;
  background: #3f4944;
  height: 380px;
  padding-top: 20px;
}

.l-row--intro {
  margin: 30px 0 0px;
}

.list--social {
  margin: 5px auto;
  width: 70px;
}

.mobile-nav {
  display: none;
}

.grid {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.grid-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.grid-box--1of2 {
  width: 30%;
  float: left;
}

.grid-box--2of2 {
  width: 70%;
  height: 65px;
  float: right;
}

.header {
  text-align: left;
}

.nav--site {
  margin-top: 45px;
}

.nav-link
{
  display: inline;
  float: right;
  margin: 0px 15px 0px 15px;
}

.nav-link a
{
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
}

#SmallLogo {
  display: none;
}

.small-nav {
  display: none;
}

@media screen and (max-width: 900px), only screen and (max-device-width: 720px){
  #LargeLogo {
    display: none;
  }

  #SmallLogo {
    display: block;
  }
}

@media only screen and (max-device-width: 720px) {
  a {
    font-size: 2.0em;
  }

  .l-footer-info {
    font-size: 2.0em;
  }
}

@media screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  .content
  {
    margin-top: 0px;
  }

  .content-section {
    padding: 0px 20px 0px 20px;
  }

  .l-cell {
    padding: 0 0px;
  }

  .l-footer {
    margin-top: -13px;
  }

  .l-footer-copyright, .l-footer-address, .l-footer-copyright {
    display: block;
  }

  .footer-delimiter {
    display: none;
  }

  .large-nav{
    display: flex;
    width: 100%;
  }

  .l-header {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .l-row {
    padding-bottom: 0px;
  }

  .l-row--intro {
    margin-top: 0px;
  }

  .nav-link a {
    font-size: 1.2em;
  }

  .grid-box--1of2 {
    width: 100%;
    float: none;
    text-align: center;
  }

  .grid-box--1of2 div a img{
    height: 150px;
  }

  .grid-box--2of2 {
    margin-bottom: 5px;
    width: inherit;
    height: 40px;
    float: none;
    text-align: center;
  }

  .nav--site {
    margin-top: 0px;
    float: none;
  }

  .nav--site ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .nav-link {
    background-color: orange;
    border:2px solid orange;
    border-radius:5px;
    display: inline;
    padding-top:5px;
    float: none;
    width: 90%;
    height: 20px;
    margin: 0px 5px 0px 5px;
  }

  .nav-link a {
    color: white;
  }
}

@media screen and (max-width: 425px), only screen and (max-device-width: 425px) and (orientation:portrait) {
  .content-section {
    text-align: center;
    padding: 0px 10px 0px 10px;
  }

  .grid-box--1of2 {
    margin-bottom: -15px;
  }

  .grid-box--2of2 {
    margin: 0px 0px 5px 0px;
    width: inherit;
    height: 70px;
    float: none;
    text-align: center;
  }

  .large-nav {
    display: none;
  }

  .small-nav {
    display: -webkit-inline-box;
    width: 100%;
  }

  .mobile-nav {
    display: inherit;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .small-nav-top , .small-nav-bottom {
    text-align: center;
    width: 50%;
  }

  .nav-link
  {
    margin: 5px 5px 5px 5px;
    display: block;
  }

  .nav--site {
  }
}

@media screen and (max-width: 270px) {
  .content-med-img img {
    height: 150px;
  }

  p {
    font-size: 1.4em;
  }
}