// Place all the styles related to the Organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  color: darkslategray;
  font-family: Arial;
  font-size: 62.5%; /* 1em = 10px */
}

h1 {
  font-size: 2.7em;
}

p {
  font-size: 1.2em;
}

section, header, nav {
  display: block;
}

.l-header {
  padding: 20px 0 30px;
}

.l-cell {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px;
}

.l-footer {
  bottom: 0;
  clear: both;
  color: #bfbeb2;
  height: 380px;
  overflow: hidden;
  text-align: center;
}

.l-footer-copyright {
  font-size: 1.2em;
}

.l-row {
  margin: 25px 0;
  padding: 15px 0;
}

.l-row--a {
  background: #3f4944;
  color: #fff;
}

.l-row--intro {
  margin: 30px 0 0px;
}

.list--social {
  margin: 15px auto;
  width: 70px;
}

.grid {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.grid-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.grid-box--1of2 {
  width: 50%;
}

.grid-box--2of2 {
  width: 50%;
  height: 65px;
}

.nav--site {
  margin-top: 45px;
}

.nav-link
{
  display: inline;
  float: right;
  margin-left: 25px;
}

.nav-link a
{
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

.content
{
  margin-top: 50px;
  min-height:600px;
  background-color: #efede8;
}
