// Place all the styles related to the Organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  font-size: 16px;
}

body
{
  color: darkslategray;
  font-family: Arial;
  font-size: 62.5%; /* 1em = 10px */
}

h1{
  font-size: 2.7em;
}

p{
  font-size: 1.2em;
}

//SiteWide Banner
#Banner
{
  width: 100%;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
  height: 80px;
  max-width: 1200px;
}

//Logo
#Logo
{
  position: absolute;
  left: 20px;
  display: block;
  float: right;
}

//Logo Grid
#LogoGrid
{
}

// Navigation Grid
#NavGrid
{
}

// Navigation Menu
#NavMenu
{
  padding-left: 70px;
  padding-right: 120px;
  padding-top: 25px;
}

//Navigation Links
.nav_link
{
  display: inline;
  float: right;
  margin-left: 25px;
}

.nav_link a
{
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

//Sitewide Links
a
{
  text-decoration: none;
}

// Content Section
#ContentOptions
{
  padding-top: 25px;
  height: 50px;
  background-color: #f47320;
  width: 100%;
  position: absolute;
  right: 1px;
  display: none;
}

#ContentTitle
{
  display: inline;
  padding-left: 25px;
  color: white;
  font-weight: bold;
}

#ContentMain
{
  background-color: #efede8;
  width:100%;
  position: absolute;
  right:1px;
}

.content
{
  padding-left: 22px;
  height: 800px;
}

// Footer
#Footer
{
  background-color:#3f4944;
  height: 225px;
  margin-top: 620px;
  width:100%;
  position: absolute;
  right:1px;
  text-align: center;
}

#FooterText
{
  color: white;
  margin-bottom: 10px;
  margin-top: 160px;
  font-size: 1.1em;
}

#FooterSocialLinks
{

}